.loginPageContainer{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form{
  display: flex;
  width: 80%;
  max-width: 60rem;
  min-width: 20rem;
  flex-direction: column;
  text-align: center;
}

.form input, select{
  min-height: 4rem;
  font-size: 2rem;
}
.selectDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.selectDiv>select{
  text-transform: capitalize;
  cursor: pointer;
}
.selectDiv>label{
  font-size: 2rem;
  color: white;
  margin-bottom: 0.5rem;
}
.leaderboardDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.startBtn{
  all: unset;
  background-color: blue;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: .5rem;
  cursor: pointer;
}
.leaderboardBtn{
  all: unset;
  margin-top: 3rem;
  background-color: transparent;
  text-decoration: underline;
}
.leaderboardBtn:hover{
  color: blue;
}
.startBtn{
  background-color: blue;
}
.startBtn:hover{
  background-color: rgba(60, 232, 66, 0.984);
}
