.leaderboardContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leaderboardContainer>ul{
  list-style-type: decimal;
  font-size: 1.5rem;
}
.leaderboardContainer li{
  margin: 1rem 0;
}
.button{
  all: unset;
  border-radius: .5rem;
  padding: 0.3rem 1rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}
.link{
  text-decoration: none;
  color: #ffffff;
}

.link:hover{
  text-decoration: underline;
}
